.vd-menu{
  width: 200px;
  height: 100%;
  position: absolute;
  left: 0;
  background: #ecf0f1;
  box-shadow: 2px 3px 3px #d2d2d2;
  text-align: left;
  overflow-y: auto;
  li {
    background: #edf1f1;
    line-height: 50px;
    cursor: pointer;
    a {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
      font-size: 15px;
    }
  }
}
.vd-menu-item {
  display: none;
  background: #fff;
  li {
    text-align: left;
    background: #fff;
    padding: 0;
    &:hover {
      background: $vd-menu-hover;
      a {
        color: #fff
      }
    }
    a {
      padding-left:40px; 
      font-size: 13px;
      &:hover {
        color: #fff;
      }
    }
  }
  .vd-menu-active {
    background:$vd-menu-active; 
    color: #fff;
  }
}
.showbtn {
  animation: show .2s forwards;
}

.hidebtn {
  animation: hide .2s forwards;
}

@keyframes show {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(90deg);
  }
}

@keyframes hide {
  from {
      transform: rotate(90deg);
  }
  to {
      transform: rotate(0deg);
  }
}