<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>-->
    <title>幻盾DDOS动态防御系统</title>
    <link rel="shortcut icon" href="/static/fonts/favicon.ico" />
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/pace-theme-flat-top.css">
  </head>

  <body>
    <div id="app"></div>
  <!-- built files will be auto injected -->
    <script src="/static/jquery.min.js"></script>
    <!-- <script src="/static/highcharts.js"></script> -->
    <!-- <script src="/static/g2.js"></script> -->
    <script src="/static/pace.min.js"></script>
    <!-- <script src="/static/echarts.min.js"></script> -->

  </body>

</html>

